{% extends '@Parthenon/athena/base.html.twig' %}

{% block pagetitle %}
    {{ "parthenon.athena.crud.export.title"|trans }}
{% endblock %}

{% block content %}
    <div class="text-center p-5">
        {{ "parthenon.athena.crud.export.processing"|trans }}
    </div>
{% endblock %}


{% block jquerycontent %}
    <script type="application/javascript">
        setTimeout(function () {
            location.reload()
        }, 3000);
    </script>
{% endblock %}